* {
  color: white;
}

.main-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.profile {
  width: 100%;
}

.profile > img {
  max-height: 350px;
  width: 100%;
  height: 100%;
}

.profile-photo {
  position: relative;
  bottom: 130px;
  max-width: 15rem;
  height: 15rem;
  /* height: 100%; */
  width: 100%;
}

.userPro {
  height: 100%;
  width: 100%;
  border: 5px solid #2d2e36;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
}

.UserName {
  position: relative;
  bottom: 100px;
  margin: 0;
  padding: 0px;
}

.UserName > h1 {
  margin: 0 0 2% 0;
  text-align: center;
}

#h11 {
  margin-top: 0;
  text-align: center;
}

.Userdescri {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  line-height: 2;
  font-size: 0.8rem;
}

.dropDown {
  position: absolute;
  right: 0;
}

.dropdown-menu {
  min-width: 20rem;
}
